<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <div style="text-align: center">
      <hr/>
      <a href="https://bigcat-covid19.github.io/ISMB2021-workshop/"><img align="center" style="width:100%;" id="image" src="https://bigcat-covid19.github.io/ISMB2021-workshop/images/banner.png"></a>
    </div>
    <title>ISMB2021 tutorial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@13.2.0/dist/primer.css" />  <!--Use full Primer.style static CDN-->
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
  </body>
  <footer>
    
  </footer>
</html>

